@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.content {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.utilization-low {
  color: rgba(146, 195, 83, 1);
}

.utilization-medium {
  color: rgba(253, 185, 19, 1);
}

.utilization-high {
  color: rgba(241, 112, 123, 1);
}
